# game stuff
games/*/*.min.js
games/*/*.concat.js
games/*/assets/

# releases
release_*
release

# dev
dev

# ignore the example game
games/mygame

# framework should probably ignored...ahhh wtf
#framework
framework/games

# random
node_modules
piskel-0.6.0-64bits.zip
npm-debug.log
