<!DOCTYPE html>
<html>
<head lang="en">
    <title>Jack Danger</title>
    <meta charset="utf-8">
   <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
      <script>

      </script>
    <script src="js/phaser.js"></script>
    <script src="js/init.js"></script>
    <script src="js/pad.js"></script>
        <script src="js/preloader.js"></script>
    <script src="js/gamefinished.js"></script>
    <script src="js/loadingscreen.js"></script>

    <!-- Development libs -->
    <% libraries.each do |library| %>
    <script src="<%= library%>"></script>
    <% end %>
    <!-- GAMES -->
    <% games.each do |game| %>
    <script src="<%= game.game_file%>"></script>
    <% end %>
    <!-- GAMES END -->


</head>
<body onload="init();">
<div id="gamediv">

</div>

</body>
</html>
